<div class="help">
  <h1>Help: IRC</h1>

  <div class="section">
    <p>The sakugabooru community channel is #sakuga @ irc.rizon.net. You can contact the site admins and moderators there.</p>
  </div>
</div>

<% content_for :subnavbar do %>
  <li><%= link_to "Help", :action => "index" %></li>
<% end %>
