<div class="help">
  <h1>Help: Tags</h1>

  <div class="sectin">
    <h4>See <%= link_to "this page", :controller => 'wiki', :action => 'show', :title => 'tag_guidelines' %> for sakugabooru tag guidelines.</h4>
  </div>
</div>

<% content_for :subnavbar do %>
  <li><%= link_to "Help", :action => "index" %></li>
<% end %>
