<div id="news-ticker" style="display: none" data-date="20130822" data-news-hide="1">
  <ul>
        <li>We've started a blog! Find it <a href="https://blog.sakugabooru.com">here.</a></li>
        <br />
        <li>Please read the <a href="/help/tags">tagging guidelines</a> before posting. | <a href="/wiki/show?title=booru%E3%81%AE%E4%BD%BF%E3%81%84%E6%96%B9">日本のユーザーはこちらをご覧下さい</a>。</li>
  </ul>

  <a href="#" class="close-link"><%= t('.close') %></a>
</div>
